# Root-anchored: only the licensed-artifacts folder, NOT terraform/modules/binaries
/binaries/
*.jar
license.properties
*.tfstate*
.terraform/
*.tfvars.secret
.DS_Store
**/.DS_Store
*.tfplan
node_modules/
